<style>
  body {
      background: url('http://wallpapercave.com/wp/CBlPtWd.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }
</style>



<div> </div>
<%= link_to 'Start New Game', game_path(@game.id) %>

